<div class="about">

  <h2 class="rounded rounded-5 fw-bold fs-2">{{"About US"|translate}} </h2>

</div>


<div class="container">
    <div class="row mt-5 gy-5 mb-3"  [dir]="lang=='en'?'ltr':'rtl'">
      <div class="col-md-6">
            <img src="assets/images/logo2.jpeg" class="w-100 rounded rounded-5" height="300" alt="about-img">
        </div>
        <div class="col-md-6" >
          <div class="aboutus">
            <h2 class="fw-bold fs-3">{{"About US"|translate}}</h2>
            <p class="fs-5"> {{"Almas heavy transport spare parts trading"|translate}}
              {{"We have experience in importing heavy transport spare parts"|translate}} {{"Wholesale and retail"|translate}} {{"Our company relies on importing globally approved spare parts with international quality that suit the operating conditions of the Egyptian market"|translate}}
               {{"Taking into account the prices that suit merchants and distributors in the Egyptian market"|translate}}
          </p>
          
          </div>
          
        </div>
        <div class="col-md-4">
            <div class="card h-100 position-relative overflow-hidden rounded rounded-2">
              <div class="text-center mt-3 fs-2 "> <i class="fa-solid fa-truck-fast text-main"></i></div>
                <div class="card-body d-flex justify-content-center align-items-center">
                  
                  <p class="card-text  fs-4"> الحرص على الارتقاء بهذا النشاط حتى نصل إلى قمة النجاح والسعي لبناء 
                    لبناء علاقات مهنية وشخصية قوية مع عملائنا والمحافظة عليها وكسب ثقتهم ورضاهم
                  </p>
                 
                 
                </div>
                <div class="about-layer position-absolute d-flex align-items-center justify-content-center text-black p-2">
                  <h3 class="fw-bold fs-3">{{"Our Mission"|translate}}</h3>
              </div>
              </div>
        </div>


        <div class="col-md-4">
            <div class="card position-relative overflow-hidden rounded rounded-2" >
               <div class="text-center mt-3 fs-2 "> <i class="fa-solid fa-house text-main"></i></div>
              <div class="card-body d-flex justify-content-center align-items-center">
                 
                  <p class="card-text text-center fs-4"> الإلتزام بأعلى مستويات الجوده والأمانه في بيع قطع الغيار ومنح العملاء مزيدًا من الخيارات 
                    وفقًا للجودة واسم العلامة التجارية والسعر ولا ندخر جهدًا في تلبية احتياجات عملائنا وأن تكون فوق مستوى توقعاتهم
                  </p>
                 
                </div>

                <div class="about-layer position-absolute d-flex align-items-center justify-content-center text-black p-2">
                  <h3 class="fw-bold fs-3">{{"Our Values"|translate}}</h3>
              </div>
              </div>
        </div>


        <div class="col-md-4">
            <div class="card h-100 position-relative overflow-hidden rounded rounded-2">
              <div class="text-center mt-3 fs-2 "> <i class="fa-solid fa-eye-low-vision text-main"></i></div>
                <div class="card-body d-flex justify-content-center align-items-center">
                 
                  <p class="card-text text-center fs-4">
                      ان نكون افضل الشركات العربية التي توفر لعملائها جميع قطع الغيار الأصلية وبدائلها بجودة وان تكون خدمتنا دائمًا فوق مستوى توقعات عملائنا
                  </p>
                 
                </div>
                <div class="about-layer position-absolute d-flex align-items-center justify-content-center text-black p-2">
                  <h3 class="fw-bold fs-3">{{"Our Vision"|translate}}</h3>
              </div>
              </div>
        </div>
    </div>
</div>


