<div class="container mt-5">
    <div class="row gy-5" >
        <div class="col-md-6">
            <a href="#" class="text-second  fw-bold">Maybach
                X</a>
            <a href="#" class="text-second"><p> David
                LaChapelle. </p></a>
            <img src="assets/images/1.jpg" class="w-100 cursor-pointer" height="300vh" alt="">
        </div>

        <div class="col-md-6">
            <div>
                <a href="#" class="text-second  fw-bold mt-5">Responsibility</a>
                <a href="#" class="text-second mt-5"><p>Inclusion
                    is
                    unstoppable.</p></a>
                <img src="assets/images/2.webp" class="w-100 cursor-pointer" height="300vh"  alt="">
           
            </div>

         
    </div>
    <div class="col-md-6">
        <div>
            <a href="#" class="text-second  fw-bold mt-5">Responsibility</a>
            <a href="#" class="text-second mt-5"><p>Inclusion
                is
                unstoppable.</p></a>
            <img src="assets/images/mq3-original-aspect.avif" class="w-100 cursor-pointer" height="300vh"  alt="">
       
        </div>
    </div>
</div>
</div>