<section class="footer background mt-5">
    <div class="container">
      <div class="row pt-5">
        <div class="col-sm-12 text-center">
            <img src="assets/images/footer.JPG" width="70px" alt="">
            <h3 class=" fw-bolder mt-2 "><strong>Al ALMAS OFFICE FOR GENERAL SuPPLIES </strong> </h3>
            <p class="fw-bolder mt-2 second-color"> <i class="fa-solid fa-location-dot"></i> ISMAILIA CANAL- SAFWA TOWER<br> FIFTH FLOOR- AFTER OTHMAN FERRYBOAT-SHUBRA EL-KHAIMA</p> 
            <p class="fw-bolder mt-2 second-color "> <i class="fa-solid fa-location-dot"></i>  23 IBRAHIM SALIM AL SHARQAWI ST-SHUBRA EL-KHAIMA</p> 
             <p class="fw-bolder mt-2 second-color"> <i class="fa-solid fa-phone"></i> 01140448687 - 01099161248</p>
        </div>
      </div>
    </div>
</section>
