/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');

:root{
    --main-color:#C4C4C4;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
   --main-transition:0.8s;
}
/* body{
    font-family: var(--font-family)!important;

} */
.rating-color
{
    color:var(--rating-color);
}

.cursor-pointer
{
    cursor: pointer;
}


.main-btn{
    background-color: var(--main-color);
    color: var(--light-color);
    border-radius: 5px;
    border: unset;
    cursor: pointer;
    padding: 4px 8px;
}
 a:hover{
    color: var(--light-color) !important;
    
}
a{
    text-decoration: none;
}
.font-sm
{
    font-size: 12px;
}
.text-main
{
    color: #0872AF;
}
.bg-main
{
    background-color:#d6e7ee !important;
   
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}
.text-white{
    color: var(--light-color);
}
.text-second{
    color: #5F5F5F;
}
.main-color{
    color: chartreuse;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
